* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
    position: relative;
    padding: 137px 0;
}

#card {
    background-color: hsl(216, 50%, 16%);
    padding: 30px;
    width: 375px;
    margin: 0 auto;
    border-radius: 20px;

    transition: box-shadow 0.3s;
}

#card:hover {
    box-shadow: 5px 5px 10px black;
}

#logo {
    width: 100%;
    border-radius: 20px;
}

.overlay {
    position: relative;
    margin-bottom: 20px;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    height: 98.5%;
    width: 100%;
    border-radius: 20px;

    transition: background-color 0.5s, opacity 0.5s;
}

.fa-solid {
    visibility: hidden;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
}

#content:hover {
    background-color: hsl(178, 100%, 50%);
    opacity: 0.5;
    cursor: grab;
}

#content:hover + .fa-solid {
    visibility: visible;
}

h1 {
    margin-bottom: 15px;
    font-size: 1.4rem;
    display: inline-block;
    transition: color 0.3s;
}

h1:hover {
    cursor: grab;
    color: hsl(178, 100%, 50%);
}

#description {
    margin-bottom: 30px;
    font-weight: 300;
}

#data {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid hsl(0, 0%, 100%);; 
}

#data div {
    display: flex;
    align-items: center;
}

#ethereum {
    width: 12px;
    height: 20px;
    margin: 0;
    color: hsl(178, 100%, 50%);
}

#value p {
    font-weight: 600;
    color: hsl(178, 100%, 50%);
}

#time p {
    color: hsl(215, 51%, 70%);
}

#clock {
    width: 20px;
    height: 20px;
    margin: 0;
}

#data div p {
    margin-left: 10px;
    font-size: 1rem;
}

#author {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
    /* background-color: pink; */
}

#avatar {
    width: 10%;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

#author p {
    margin-left: 15px;
}

span {
    color: hsl(0, 0%, 100%);
    transition: color 0.3s;
}

span:hover {
    cursor: grab;
    color: hsl(178, 100%, 50%);
}

.attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    color: hsl(217, 54%, 11%);
    transition: background-color 0.3s;
}

.attribution:hover {
    background-color: hsl(0, 0%, 100%);
}

a {
    text-decoration: none;
    color: hsl(217, 54%, 11%);
    transition: color 0.3s;
}

a:hover {
    color: hsl(215, 51%, 70%);
}